In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dados_tempo = pd.read_excel('(1.2) dataset_principal.xls')
dados_merge = pd.read_excel('(1.3) dataset_join.xls')

In [4]:
pd.set_option("display.max.columns", None)

print(dados_tempo)

     Estudante  Tempo para chegar à escola (minutos)  \
0     Gabriela                                    15
1       Dalila                                    20
2      Gustavo                                    20
3      Letícia                                    40
4  Luiz Ovídio                                    50
5       Leonor                                    25
6          Ana                                    10
7      Antônio                                    55
8        Júlia                                    35
9      Mariana                                    30

   Distância percorrida até a escola (quilômetros)  Quantidade de semáforos  \
0                                                8                        0
1                                                6                        1
2                                               15                        0
3                                               20                        1
4                                               25                        2
5                                               11                        1
6                                                5                        0
7                                               32                        3
8                                               28                        1
9                                               20                        1

  Período do dia Perfil ao volante
0          Manhã             calmo
1          Manhã          moderado
2          Manhã          moderado
3          Tarde         agressivo
4          Tarde         agressivo
5          Manhã          moderado
6          Manhã             calmo
7          Tarde             calmo
8          Manhã          moderado
9          Manhã          moderado

In [5]:
dados_tempo.columns

Index(['Estudante', 'Tempo para chegar à escola (minutos)',
       'Distância percorrida até a escola (quilômetros)',
       'Quantidade de semáforos', 'Período do dia', 'Perfil ao volante'],
      dtype='object')

In [6]:
dados_tempo.head(n=5)

,Estudante,Tempo para chegar à escola (minutos),Distância percorrida até a escola (quilômetros),Quantidade de semáforos,Período do dia,Perfil ao volante
0,Gabriela,15,8,0,Manhã,calmo
1,Dalila,20,6,1,Manhã,moderado
2,Gustavo,20,15,0,Manhã,moderado
3,Letícia,40,20,1,Tarde,agressivo
4,Luiz Ovídio,50,25,2,Tarde,agressivo

In [7]:
dados_tempo.tail(n=3)

,Estudante,Tempo para chegar à escola (minutos),Distância percorrida até a escola (quilômetros),Quantidade de semáforos,Período do dia,Perfil ao volante
7,Antônio,55,32,3,Tarde,calmo
8,Júlia,35,28,1,Manhã,moderado
9,Mariana,30,20,1,Manhã,moderado

In [8]:
dados_tempo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Estudante                                        10 non-null     object
 1   Tempo para chegar à escola (minutos)             10 non-null     int64
 2   Distância percorrida até a escola (quilômetros)  10 non-null     int64
 3   Quantidade de semáforos                          10 non-null     int64
 4   Período do dia                                   10 non-null     object
 5   Perfil ao volante                                10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

In [9]:
dados_tempo = dados_tempo.rename(columns={'Estudante':'estudante',
                                          'Tempo para chegar à escola (minutos)':'tempo',
                                          'Distância percorrida até a escola (quilômetros)': 'distancia',
                                          'Quantidade de semáforos': 'semaforos',
                                          'Período do dia': 'periodo',
                                          'Perfil ao volante': 'perfil'})

In [10]:
dados_novo = dados_tempo.rename(columns={dados_tempo.columns[0]: 'obs',
                                         dados_tempo.columns[1]: 'temp',
                                         dados_tempo.columns[5]: 'perf'})

In [11]:
dados_novo.rename(columns={'distancia': 'dist',
                           'semaforos': 'sem',
                           'periodo': 'per'},
                  inplace=True)

In [12]:
dados_tempo.iloc[3,]
dados_tempo.iloc[:,4] # argumento : indicam vazio na linha
dados_tempo.iloc[2:5,] # note que exclui a posição final
dados_tempo.iloc[:,3:5] # note que exclui a posição final
dados_tempo.iloc[2:4,3:5] # note que exclui as posições finais
dados_tempo.iloc[5,4]

'Manhã'

In [13]:
dados_tempo['tempo']
var_tempo = dados_tempo['tempo']

dados_tempo.perfil
var_perfil = dados_tempo.perfil

In [14]:
dados_tempo[['tempo', 'perfil']]
var_tempo_perfil = dados_tempo[['tempo', 'perfil']]

In [15]:
selec_1 = dados_tempo.loc[:, dados_tempo.columns.str.startswith('per')]

In [16]:
selec_2 = dados_tempo.loc[:, dados_tempo.columns.str.endswith('o')]

In [17]:
idade = pd.Series([25,28,30,19,20,36,33,48,19,21])
dados_novo['idade'] = idade

In [18]:
nova_obs = pd.DataFrame({'per': ['Tarde'],
                         'obs': ['Roberto'],
                         'temp': [40]})

dados_concat = pd.concat([dados_novo, nova_obs])
dados_concat = pd.concat([dados_novo, nova_obs]).reset_index(drop=True)

In [19]:
dados_novo['sem_km'] = round((dados_novo['sem'] / dados_novo ['dist']), 2)

In [20]:
labels = {'calmo': 'perfil_A',
          'moderado': 'perfil_B',
          'agressivo': 'perfil_C'}

df_labels = dados_tempo.assign(novo_perfil = dados_tempo.perfil.map(labels))
df_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   estudante    10 non-null     object
 1   tempo        10 non-null     int64
 2   distancia    10 non-null     int64
 3   semaforos    10 non-null     int64
 4   periodo      10 non-null     object
 5   perfil       10 non-null     object
 6   novo_perfil  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [21]:
numeros = {'calmo': 1,
           'moderado': 2,
           'agressivo': 3}

df_numeros = dados_tempo.assign(novo_perfil = dados_tempo.perfil.map(numeros))
df_numeros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   estudante    10 non-null     object
 1   tempo        10 non-null     int64
 2   distancia    10 non-null     int64
 3   semaforos    10 non-null     int64
 4   periodo      10 non-null     object
 5   perfil       10 non-null     object
 6   novo_perfil  10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes

In [22]:
textos = {0: 'zero',
          1: 'um',
          2: 'dois',
          3: 'três'}

df_texto = dados_tempo.assign(novo_semaforos = dados_tempo.semaforos.map(textos))
df_texto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estudante       10 non-null     object
 1   tempo           10 non-null     int64
 2   distancia       10 non-null     int64
 3   semaforos       10 non-null     int64
 4   periodo         10 non-null     object
 5   perfil          10 non-null     object
 6   novo_semaforos  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [23]:
dados_tempo['faixa'] = np.where(dados_tempo['tempo']<=20, 'rápido',
                       np.where((dados_tempo['tempo']>20) & (dados_tempo['tempo']<=40), 'médio',
                       np.where(dados_tempo['tempo']>40, 'demorado',
                                'demais')))

In [24]:
dados_tempo['quartis'] = pd.qcut(dados_tempo['tempo'], q=4, labels=['1','2','3','4'])

In [25]:
df_numeros['novo_perfil'] = df_numeros['novo_perfil'].astype('category')
df_numeros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   estudante    10 non-null     object
 1   tempo        10 non-null     int64
 2   distancia    10 non-null     int64
 3   semaforos    10 non-null     int64
 4   periodo      10 non-null     object
 5   perfil       10 non-null     object
 6   novo_perfil  10 non-null     category
dtypes: category(1), int64(3), object(3)
memory usage: 754.0+ bytes

In [26]:
df_numeros.drop(columns=['periodo', 'perfil'], inplace=True)

In [27]:
df_org_1 = dados_tempo.sort_values(by=['tempo'], ascending=True).reset_index(drop=True)

In [28]:
df_org_2 = dados_tempo.sort_values(by=['tempo'], ascending=False).reset_index(drop=True)

In [29]:
df_org_3 = dados_tempo.sort_values(by=['estudante'], ascending=True).reset_index(drop=True)
df_org_4 = dados_tempo.sort_values(by=['perfil'], ascending=False).reset_index(drop=True)